@media (min-width:992px) {

    .right-col {
        padding: 5rem;
        background-color: #330727;
        color: #fff;

    }

    .col-small {
        max-width: 20%;
        transform: rotate(-90deg);
    }

    .col-big {
        max-width: 80%;
    }

    .contact-info {
        border-top-right-radius: 25%;
        border-bottom-left-radius: 15%;
        border-top: 2px solid #330727;
        border-bottom: 2px solid #330727;
        border-right: 2px solid #330727;
        border-left: 2px solid #330727;
    }

    .contact-us {
        border-bottom-right-radius: 15%;
        border-top-left-radius: 25%;
        border-left: 2px solid #330727;
        border-top: 2px solid #330727;
        border-bottom: 2px solid #330727;
        border-right: 2px solid #330727;
    }

    /* .main_menu{
        display: flex;
    } */


}

@media (max-width:992px) {
    .social-icons {
        display: none;
    }

    .video-wrap iframe {
        width: 100%;
    }
}

@media (min-width:1100px) {
    .mobile-bars {
        display: none;
    }
}

@media (max-width:1100px) {
    .main_menu {
        position: fixed;
        top: 0px;
        right: 100%;
        width: 80%;
        max-width: 280px;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease;
        height: 100vh;
        background: #000000d9;
        z-index: -1;
    }

    .sticky-nav .link-item {
        color: #fff
    }

    .logo a .logo_img {
        max-width: 18rem;
    }

    .nav-menu {
        flex-direction: column;
    }

    .main_menu .menu-group {
        margin-right: 0;
    }

    .call-btn {
        margin-top: .8rem;
    }
}

@media (max-width:768px) {
    .video-wrap iframe {
        width: 100%;
    }
}